// Colors
$cyan: hsl(171, 66%, 44%);
$gray: hsl(201, 11%, 66%);
$blue1: hsl(233, 100%, 69%);
$blue2: hsl(210, 10%, 33%);

// Fonts
$font__primary: 'Bai Jamjuree', sans-serif;

// Media Queries
$breakpoints: (
    small: 690px,
    medium: 700px,
    large: 1000px,
    xlarge: 1300px
);

@mixin breakpoint($size) {
    $breakpoint-value: map-get($breakpoints, $size);

    @media screen and (min-width: $breakpoint-value) {
        @content;
    }
}

@mixin breakpoint-less($size) {
    $breakpoint-value: map-get($breakpoints, $size);

    @media screen and (max-width: $breakpoint-value) {
        @content;
    }
}
