@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/*

    font-family: 'Poppins', sans-serif;
    font-family: 'Open Sans', sans-serif;

*/

// colors
$violet: hsl(257, 40%, 49%);
