// font sizes
$font-size: 18px;

// colors
$blue: hsl(233, 26%, 24%);
$green: hsl(136, 65%, 51%);
$cyan: hsl(192, 70%, 51%);

$white: hsl(0, 0%, 100%);
$gray-1: hsl(220, 16%, 96%);
$gray-2: hsl(0, 0%, 98%);
$gray-3: hsl(233, 8%, 62%);

// spacing
$sections-padding: 4rem 3rem;
$sections-padding-desktop: 8rem 10%;

$articles-images-width: 13em;