//font-family: 'Poppins', sans-serif;
//Weights: 400, 500, 600, 700
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);

$blue1: hsl(246, 25%, 77%);
$blue2: hsl(248, 32%, 49%);
$blue3: hsl(249, 10%, 26%);

