/* FONTS

    HEADINGS>> font-family: 'DM Serif Display', serif;
    BODY>> font-family: 'Karla', sans-serif;
*/
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display|Karla&display=swap');


// primary colors 
$violet1: hsl(256, 26%, 20%);
$blue: hsl(216, 30%, 68%);

// neutral colors
$violet2: hsl(270, 9%, 17%);
$violet3: hsl(273, 4%, 51%);
$gray: hsl(0, 0%, 98%);