/* FONTS

    HEADINGS>> font-family: 'DM Serif Display', serif;
    BODY>> font-family: 'Karla', sans-serif;
*/
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Display|Karla&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 1em;
  font-weight: 400;
  overflow-x: hidden;
  font-family: 'Karla', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Serif Display', serif;
}

button {
  color: #fafafa;
  border: none;
  outline: none;
  padding: .5em;
  z-index: 1000;
  cursor: pointer;
  background: none;
  border: 1px solid #fafafa;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

ul li {
  list-style: none;
}

hr {
  opacity: .25;
  margin: 0 auto;
  color: #2b272f;
}

a {
  text-decoration: none;
}

a:hover {
  color: #95a9c6;
}

.insure {
  color: #2b272f;
  font-size: 110%;
  font-weight: 700;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-transform: uppercase;
}

.far {
  font-size: 1.5em;
  cursor: pointer;
}

.dark-btn:hover {
  background-color: #fafafa;
  color: #2d2640;
  z-index: 1000;
}

.footer-list li:hover {
  cursor: pointer;
  border-bottom: 1px solid #2d2640;
}

.desktop-view {
  display: none;
}

header {
  position: relative;
}

header .nav {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 4em;
  z-index: 100;
}

header .nav i.fas {
  padding: .4em;
  font-size: 90%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 2px solid rgba(51, 51, 51, 0.7);
}

header .nav i.fas:hover {
  cursor: pointer;
}

header .hero-img {
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/image-intro-mobile.jpg");
}

header .hero-intro {
  padding: 2em;
  color: #fafafa;
  min-height: 60vh;
  text-align: center;
  background-color: #2d2640;
  background-image: url("../images/bg-pattern-intro-left-mobile.svg");
  background-position: left -30% top;
  background-repeat: no-repeat;
}

header .hero-intro h1 {
  font-weight: 400;
  font-size: 190%;
  line-height: 1;
  margin-bottom: .8em;
}

header .hero-intro button {
  width: 8em;
  margin: 2em 0;
  text-transform: uppercase;
}

main {
  color: #2d2640;
  padding-top: 6em;
  text-align: center;
  position: relative;
  background-color: #fafafa;
  z-index: 10;
}

main .svg-hero-overlay {
  top: -10%;
  left: 1%;
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: right top;
  background-image: url("../images/bg-pattern-intro-right-mobile.svg");
}

main hr {
  width: 35%;
  margin-bottom: 1.2em;
}

main h2 {
  font-size: 170%;
  letter-spacing: .1em;
  margin-bottom: 1.2em;
}

main .traits {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .traits div {
  margin-bottom: 3em;
}

main .traits div:last-child {
  margin-bottom: 5em;
}

main .traits div h4 {
  font-size: 120%;
  font-weight: 400;
  margin-bottom: .6em;
}

main .traits div p {
  color: #837d87;
  font-size: 85%;
  word-wrap: break-word;
}

main .traits div .icon-app {
  height: 65px;
  margin-bottom: 1em;
}

main .more {
  width: 92%;
  margin: 0 auto;
  padding: 2em;
  color: #fafafa;
  margin-bottom: 5em;
  background-color: #2d2640;
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: right top;
  background-image: url("../images/bg-pattern-how-we-work-mobile.svg");
}

main .more h3 {
  font-size: 180%;
  font-weight: 400;
  margin-bottom: 1em;
}

footer {
  padding: 2em;
  text-align: center;
  background-color: whitesmoke;
  background-image: url("../images/bg-pattern-footer-mobile.svg");
  background-repeat: no-repeat;
  background-position: center -6%;
  background-size: contain;
}

footer .insure {
  margin-bottom: 1em;
}

footer hr {
  margin: 1.5em;
  margin-top: 3em;
}

footer .icons-container {
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  font-size: 1.4em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .icons-container i {
  color: #a1a1a1;
  margin-right: .4em;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

footer .icons-container i:last-child {
  margin-right: 0;
}

footer .icons-container i:hover {
  opacity: 1;
  color: #2d2640;
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer .footer-list {
  color: #837d87;
  text-transform: uppercase;
}

footer .footer-list h6 {
  margin-bottom: 2em;
  letter-spacing: .08em;
}

footer .footer-list ul {
  font-size: 60%;
  font-weight: 600;
  margin-bottom: 2em;
  color: #1c1b1d;
}

footer .footer-list ul li {
  margin-bottom: .5em;
}

#toggleNavMobile {
  display: none;
  color: #fafafa;
  height: 90vh;
  width: 100vw;
  padding: 2em;
  top: 4em;
  text-align: center;
  position: absolute;
  text-transform: uppercase;
  background-color: #2b272f;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url("../images/bg-pattern-mobile-nav.svg");
  z-index: 50;
  -webkit-animation: slideIn .6s ease-out;
          animation: slideIn .6s ease-out;
}

@-webkit-keyframes slideIn {
  0% {
    top: -10em;
  }
  100% {
    top: 4em;
  }
}

@keyframes slideIn {
  0% {
    top: -10em;
  }
  100% {
    top: 4em;
  }
}

#toggleNavMobile ul {
  font-weight: 600;
}

#toggleNavMobile ul li {
  margin-bottom: 1.8em;
}

#toggleNavMobile ul a {
  color: #fafafa;
}

#toggleNavMobile button {
  width: 90%;
}

@media (min-width: 768px) {
  .svg-hero-overlay,
  .hero-intro,
  main,
  header {
    background-image: none !important;
  }
  .desktop-view {
    display: block;
  }
  header {
    height: 80vh;
    background-color: #2d2640;
  }
  header .nav {
    background-color: #fafafa;
  }
  header i.fas {
    display: none;
  }
  header .insure {
    margin-left: 10%;
  }
  #toggleNavMobile {
    top: 0;
    right: 0;
    height: 4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: none;
            animation: none;
    background: none;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1000;
  }
  #toggleNavMobile button {
    width: 8em;
    height: 2.5em;
    background-color: #2d2640;
    text-transform: uppercase;
  }
  #toggleNavMobile button:hover {
    background-color: #fafafa;
    border: 1px solid #2d2640;
    color: #2d2640;
  }
  #toggleNavMobile ul {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #toggleNavMobile ul li {
    margin: 0;
  }
  #toggleNavMobile ul a {
    color: #2d2640;
  }
  #toggleNavMobile ul a:hover {
    color: #95a9c6;
  }
  header .svg-pattern {
    z-index: 50;
  }
  header .svg-pattern-right {
    top: -10%;
    right: -90%;
    height: 60vh;
    width: 300px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../images/bg-pattern-intro-right-desktop.svg") !important;
  }
  header .svg-pattern-left {
    top: 80%;
    left: -12%;
    height: 50vh;
    width: 300px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../images/bg-pattern-intro-left-desktop.svg") !important;
  }
  header .hero-img {
    top: 15%;
    left: 60%;
    z-index: 10;
    width: 380px;
    height: 500px;
    position: relative;
    background-image: url("../images/image-intro-desktop.jpg");
  }
  header .hero-intro {
    top: 4em;
    left: 4em;
    width: 50%;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background: none !important;
  }
  header .hero-intro hr {
    opacity: .7;
    width: 100px;
    color: #fafafa;
    position: relative;
    margin: 2em 0;
  }
  header .hero-intro h1 {
    text-align: left;
    font-size: 300%;
    width: 55%;
  }
  header .hero-intro p {
    text-align: justify;
  }
  main {
    z-index: 1;
    padding-top: 12em;
    text-align: left;
  }
  main hr {
    margin: 0;
    width: 7.5em;
    margin: 0 8.5em;
    opacity: .1;
  }
  main h2 {
    width: 80%;
    font-size: 280%;
    margin: 1em auto;
  }
  main .traits {
    width: 80%;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main .traits p {
    width: 90%;
  }
  main .more {
    width: 70%;
    height: 30vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-size: 24em;
    background-position: right -40px top;
    background-image: url("../images/bg-pattern-how-we-work-desktop.svg");
  }
  main .more h3 {
    margin: 0;
  }
  main .more button {
    height: 3em;
    width: 15%;
  }
  footer {
    background-size: 22em;
    background-position: left top;
    background-image: url("../images/bg-pattern-footer-desktop.svg");
  }
  footer .footer-top-container,
  footer .footer-list-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footer-top-container {
    width: 90%;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer-top-container > * {
    margin: 0;
  }
  footer .footer-top-container .icons-container {
    width: auto;
  }
  footer hr {
    opacity: .1;
  }
  footer .footer-list-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 70%;
    margin-left: 5%;
    text-align: left;
  }
}
/*# sourceMappingURL=main.css.map */