* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
}

body {
    background: whitesmoke;
    font-family: $font-family;
    font-weight: 400;
    color: $pink;
    -webkit-font-smoothing: antialiased;

    display: grid;
    grid-template-areas: 'head'
                         'hero'
                         'main'
                         'email';
}

header {

    padding: 1.5em;
    grid-area: head;

    .logo {
        width: 30%;
    }
}

.hero {
    grid-area: hero;
    min-height: 35vh;
    background-image: url('../images/hero-mobile.jpg');  
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

main {

    grid-area: main;

    h1 {
        color: $gray;
        text-align: center;
        text-transform: uppercase;
        padding: 1.5em 1.5em .5em 1.5em;
        letter-spacing: .2em;

        span {
            font-weight: 300;
            color: $pink;
            letter-spacing: .3em;
        }
    }

    p {
        text-align: center;
        width: 80%;
        margin: 0 auto 2em auto;
    }
}

.email {

    grid-area: email;
    padding-bottom: 4.5em;

    form {
        display: flex;
        justify-content: center;
        position: relative;
    }

    input {
        background: none;
        outline: none;
        display: inline-block;
    }

    #email {
        border: 1px solid $pink;
        height: 2.5em;
        border-radius: 50px;
        width: 80%;
        height: 40px;
        padding-left: 30px;
    }

    input::placeholder {
        color: $pink;
        font-weight: 700;
    }

    input[type='submit'] {
        cursor: pointer;
        border-radius: 50px;
        width: 50px;
        font-size: 150%;        
        background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
        color: whitesmoke;
        border: none;
        position: absolute;
        right: 20px;
        height: 40px;
        box-shadow: -2px 2px 3px rgba($pink, .6);
    }

    input[type='submit']:hover {
        transform: scale(1.2);
    }

}

#exclamationMark {
    position: absolute;
    display: none;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    text-align: center;
    color: whitesmoke;
    background: #f96262;
    right: 80px;
    top: 10px;
}

#error {
    display: none;
    margin: .5em 0 0 4em;
}