@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  overflow-x: hidden;
}

body {
  background: whitesmoke;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  color: #ce9797;
  -webkit-font-smoothing: antialiased;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'head' 'hero' 'main' 'email';
}

header {
  padding: 1.5em;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: head;
}

header .logo {
  width: 30%;
}

.hero {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: hero;
  min-height: 35vh;
  background-image: url("../images/hero-mobile.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
}

main h1 {
  color: #413a3a;
  text-align: center;
  text-transform: uppercase;
  padding: 1.5em 1.5em .5em 1.5em;
  letter-spacing: .2em;
}

main h1 span {
  font-weight: 300;
  color: #ce9797;
  letter-spacing: .3em;
}

main p {
  text-align: center;
  width: 80%;
  margin: 0 auto 2em auto;
}

.email {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: email;
  padding-bottom: 4.5em;
}

.email form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.email input {
  background: none;
  outline: none;
  display: inline-block;
}

.email #email {
  border: 1px solid #ce9797;
  height: 2.5em;
  border-radius: 50px;
  width: 80%;
  height: 40px;
  padding-left: 30px;
}

.email input::-webkit-input-placeholder {
  color: #ce9797;
  font-weight: 700;
}

.email input:-ms-input-placeholder {
  color: #ce9797;
  font-weight: 700;
}

.email input::-ms-input-placeholder {
  color: #ce9797;
  font-weight: 700;
}

.email input::placeholder {
  color: #ce9797;
  font-weight: 700;
}

.email input[type='submit'] {
  cursor: pointer;
  border-radius: 50px;
  width: 50px;
  font-size: 150%;
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  color: whitesmoke;
  border: none;
  position: absolute;
  right: 20px;
  height: 40px;
  -webkit-box-shadow: -2px 2px 3px rgba(206, 151, 151, 0.6);
          box-shadow: -2px 2px 3px rgba(206, 151, 151, 0.6);
}

.email input[type='submit']:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#exclamationMark {
  position: absolute;
  display: none;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  text-align: center;
  color: whitesmoke;
  background: #f96262;
  right: 80px;
  top: 10px;
}

#error {
  display: none;
  margin: .5em 0 0 4em;
}

@media (min-width: 576px) {
  .hero {
    height: 60vh;
  }
}

@media (min-width: 768px) {
  * {
    margin: 0 !important;
    padding: 0 !important;
  }
  body {
    height: 100vh;
    background-image: url("../images/bg-pattern-desktop.svg");
    background-size: cover;
    background-position: left;
    padding-left: 8em !important;
        grid-template-areas: 'head head . hero hero' 'main main . hero hero' 'email email . hero hero';
  }
  header {
    padding-top: 3.5em !important;
  }
  header .logo {
    width: 30%;
  }
  .hero {
    background-image: url("../images/hero-desktop.jpg");
    background-position: left;
    height: 100vh;
    width: 35vw;
  }
  main {
    height: 30vh;
  }
  main h1 {
    text-align: left;
    letter-spacing: .4em;
    font-size: 300%;
    width: 50%;
  }
  main p {
    width: 70%;
    margin-top: 1em !important;
    text-align: justify;
    line-height: 1.8em;
  }
  .email {
    height: 25vh;
    padding-top: 2em !important;
  }
  .email form {
    text-align: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .email #email {
    width: 70%;
    padding-left: 30px !important;
  }
  .email #exclamationMark {
    right: 40%;
  }
  .email #error {
    display: none;
    margin: .5em 0 0 4em !important;
  }
  .email input[type="submit"] {
    position: relative;
    right: 2em;
  }
}
/*# sourceMappingURL=main.css.map */