@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

// Primary Colors
$cyan: #2ab2af;
$green: hsl(71, 73%, 54%);

// Neutral 
$gray: hsl(204, 43%, 93%);
$blue: hsl(218, 22%, 67%);

$border-radius: 8px;

